body {
	font-family: Verdana, Geneva, Arial, sans-serif;
	font-size: medium;
	line-height: 1.5em;
	margin-left: 100px;
	margin-top: 50px;
	margin-bottom: 100px;
}

h1 {
	margin-left: 5px;
	font-size: 150%;
	line-height: 1.6em;
}

h2 {
	margin-left: 5px;
	font-size: 125%;
}

h3 {
	margin-left: 5px;
	font-size: 115%;
}

em {
	font-weight: bold;
	font-size: large;
	line-height: 2em;
}

.objective, .hints {
	margin-left: 5px;
	width: 770px;
	padding: 15px;
}

.quiz {
	margin-left: 5px;
	width: 770px;
	padding: 15px;
}

.lesson {
	font-style: italic;
	font-weight: bold;
}

@media screen and (min-device-width: 481px) {
	#guarantee {
		margin-right: 250px;
	}
}

@media screen and (max-device-width: 480px) {
	#guarantee {
		margin-right: 30px;
		margin-left: 30px;
	}
}

.fa-paw{
	color: #5E2612;
}

.fa-life-ring{
	color: orange;
}
	
.fa-book{
	color: #a7aeb6;
}

.fa-check-square-o {
	color: #8cc63e;
}

.fa-home {
	color: #00a79d;
}

.fa-pencil {
	color: #fbaf3f;
}

.fa-file-text-o {
	color: #de5844;
}

.fa-video-camera {
	color: #27a9e1;
}

.fa-star {
	color: #9e1e62;
}

.fa-certificate {
	color: #ffdd17;
}

a:link {
	color: DimGray;
	text-decoration: none;
}

a:visited {
	color: green;
	text-decoration: none;
}